<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yalin.googleio">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.YaLinIO">
        <activity
            android:name=".explore.ExploreIOActivity"
            android:exported="true"
            android:theme="@style/Theme.YaLinIO.Sessions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".myschedule.MyScheduleActivity"
            android:label="@string/title_my_schedule"
            android:launchMode="singleTop"
            android:theme="@style/Theme.YaLinIO.WithNavDrawer"
            android:parentActivityName=".explore.ExploreIOActivity"
            android:exported="true">


        </activity>

        <activity
            android:name=".welcome.WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.YaLinIO.Welcome" />

        <activity
            android:name=".session.SessionDetailActivity"
            android:exported="true"
            android:label="@string/title_session_detail"
            android:theme="@style/Theme.YaLinIO.SessionDetails">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.yalinio.session" />
            </intent-filter>
        </activity>

        <activity
            android:name=".explore.ExploreSessionsActivity"
            android:exported="true"
            android:label="Explore"
            android:theme="@style/Theme.YaLinIO.WithNavDrawer">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.yalinio.session" />
            </intent-filter>

        </activity>

        <service
            android:name=".service.DataBootstrapService"
            android:exported="false" />

        <provider
            android:name=".provider.ScheduleProvider"
            android:authorities="com.yalin.googleio"
            android:exported="true"
            android:label="@string/app_name"
            android:syncable="true" />

        <receiver
            android:name=".appwidget.ScheduleWidgetProvider"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>
    </application>

</manifest>